div{height:100%;
width: 100%;


}
p {background-color:  rgba(255, 0, 0, 0.178);
                    padding: 5px;}

a:link{
                    color:rgb(7, 7, 7) ;
                    background-color: transparent;
                    text-decoration:none;
 }
a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;}

a:hover{
                    color:rgb(0, 60, 255) ;
                    background-color: transparent;
                    text-decoration:underline;
}


a:active {
                    color: rgb(37, 240, 30);
                    background-color: transparent;
                    text-decoration: underline;}


table.table_education,th,tr{
                        border: 1px solid black;
                        width: 60%;
                        height:20%;
                        padding: 5px;
                        border-collapse:collapse;
                        border-spacing:2px ;
                        
                    }
 .table_education th{
                        background-color:gray;
                       
                    }
.table_education tr:nth-child(even){
                        text-align: center;
                      
                        padding:7px;
                    }
.table_education tr:nth-child(odd){
                        text-align: center;
                    
                        padding:7px;
                    }

.checked{
    font-size: 70%;
    color: orange;
}
                